.ImageStyle {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin-left: 3%;
}

.Images {
  width: 230px!important;
  margin: 5px!important;
  height: 220px;
  object-fit: contain;
  border-radius: 5px;
}
@media (max-width: 1200px) {
  .ImageStyle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;
    width: 900px;
  }
  
  .Images {
    width: 200px!important;
    height: 200px;
    object-fit: contain;
  }
}
@media (max-width: 1000px) {
  .ImageStyle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2px;
    width: 900px;
  }
  
  .Images {
    width: 200px!important;
    height: 200px;
    object-fit: contain;
  }
}

@media (max-width: 768px) {
  .ImageStyle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    width: 650px;
  }
  
  .Images {
    width: 150px!important;
    height: 140px;
    object-fit: contain;
  }
}

@media (max-width: 480px) {
  .ImageStyle {
    display: grid;
    // grid-template-columns: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    // margin-left: 3%;
    width: 450px;
  }
  
  .Images {
    width: 120px!important;
    height: 100px;
    object-fit: contain;
  }
}
@media (max-width: 320px) {
  .ImageStyle {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 3%;
    width: 280px;
  }
  
  .Images {
    width: 88px!important;
    margin: 5px!important;
    height: 88px;
    object-fit: contain;
  }
}