.ourService {
  align-items: center;
  justify-content: center;
  height: 100vh;
  // width: 1348px;
  // background-image: url(/_next/static/media/bg.0e05451f.png);
  // background-position: center;
  // background-size: 100% 100%;
  max-width: 100%; /* Adjusted to allow responsiveness */
  width: 100%; /* Added to ensure the container fills the width of its parent */
  background-position: center;
  background-size: cover; /* Changed to cover for better responsiveness */
  background-repeat: no-repeat;
  font-family: Roboto, Helvetica, sans-serif;
}
.tittle {
  margin-left: 8%;
  font-weight: 520;
}
.styleText {
  color: #83c147;
}

.listOurService li {
  list-style: none;
  display: inline-block;
  margin-left: 5%;
  color: rgb(36, 35, 35);
  font-size: 22px;
}
@media (max-width: 1200px) {
  .ourService{
    width: 1000px;
    height: 100%;
  }
}
@media (max-width: 1000px) {
  .ourService{
    width: 768px;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .ourService{
    width: 480px;
    height: 100%;
    margin-top: 5%;
  }
  .tittle{
    font-size: 32px;
    margin-left: 3%;
  }
}

@media (max-width: 480px) {
  .ourService{
    width: 400px;
    height: 100%;
    margin-top: 5%;
  }
  .tittle{
    font-size: 30px;
    margin-left: 2%;
  }
}
@media (max-width: 320px) {
.ourService{
  width: 300px;
  height: 100%;
  margin-top: 5%;
}
.tittle{
  font-size: 28px;
  margin-left: 1%;
}
}